<div class="register-container">
    <div class="register-form">
      <button *ngIf="useCase==='changePassword'" class="close-button"  (click)="closeDialog()"></button>
      <h2>Change Password</h2>
      <div *ngIf="useCase === 'confirmSignUp'" class="centered-message">
        Change your password to signUp.
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div  class="error-message" *ngIf="errorMessage.length>0">
          <small class="text-danger" *ngIf="errorMessage.length>0">
            {{ errorMessage }}
          </small>
        </div>

        <!--currentpassword-->
        <div class="form-field" *ngIf="useCase === 'changePassword'">
          <label for="password">Current Password</label>
          <input id="current-password" formControlName="currentPassword" type="password" placeholder="Enter Current password." />
        </div>
        

        <!--password-->
        <div class="form-field">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" placeholder="Enter password." required />
        </div>
        <div *ngIf="registerForm.get('password')?.errors">
          <small class="text-danger" *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required.
          </small>
          <small class="text-danger" *ngIf="registerForm.get('password')?.hasError('pattern')">
            Password must be at least 8 characters long and include:
            <ul>
              <li>1 uppercase letter</li>
              <li>1 lowercase letter</li>
              <li>1 digit</li>
              <li>1 special character (!#$%^&*)</li>
            </ul>
          </small>
        </div>
        <div class="form-field">
            <label for="confirmPassword">Confirm Password</label>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirm password"
              required
            />
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty">
            <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
              Confirming your password is required.
            </small>
            <small class="text-danger" *ngIf="registerForm.hasError('passwordMismatch') && !registerForm.get('confirmPassword')?.hasError('required')">
              Passwords do not match.
            </small>
        </div>
          

        <button type="submit" class="submit-button" [disabled]="registerForm.invalid">Continue</button>
          
        
        </form>

       

  </div>
  